/* ここから下に記載していく */
/*font-family: AXIS+SF Pro JP apple / Gotham netfex /Century Gothic Helvetica 定番 / Avenir samsumg / Futura LV / DIN tokyo2020
font-family:'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */

/*出現のjava script*/
.sa {
  opacity: 0.0;
  transition: all .5s ease;}
.sa.show {
  opacity: 1;
  transform: none;}
.sa–up{
  transform: translate(0, 100px);}
.sa--lr {
    transform: translate(-100px, 0);}
.sa--rl {
    transform: translate(100px, 0);}
  

body{
  width:1200px;
  margin:0;
  position:0;
  background-color:#000;}

.body{
  font-family:"Hiragino Mincho ProN";
  line-height: 2em;
}

.header{
  width:1200px;
  height:100px;
  position:fixed;
  background-color:white;
  z-index: 10;
  opacity:0.6;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.header img{
height:100px;
}
.bgm_btn{
  position:absolute;
  top:5%;
  left:85%;
  position:fixed;
  z-index: 10;
  width:100px;
  padding:30px;   
}

/*image*/
.image{
  width:1200px;
  height:1300px;
}

.img_title p{
  top: 50%;
  left: 2%;
  position:absolute;
  z-index: 10;
  font-size: 50px;
  color:white;
  opacity:0.8;
  line-height:2em;
}
.img_title span{
  font-size: 90px;
}

.img_back{
width:1000px;
height:1200px;
top: 15%;
left: 7.3%;
position:absolute;
z-index: 5;
background:url("./images/background3.jpg");
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
}

/*course*/
.course_text{
  padding-top: 100px;
  display: block;
  margin:0 auto;
  width:700px;
  height:240px;
  color:white;
  text-align: left;
}
.course_text span{
  font-style: italic;
  font-size:30px ;
  line-height: 2em;
}

.rule{
 display: flex;
 justify-content: column;
}
.rule_text{
  padding-top:40px;
  display: block;
  margin:0 auto;
  width:800px;
  height:240px;
  color:white;
  text-align: left;
}

.rule_text span{
  font: bold;
  color: crimson;
}

.course_img {
  width:1200px;
  height:300px;
	overflow:		hidden;
  position:		relative;
  background-image: url(./images/course.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.caption {
  font-size:170%;
  display: flex;
  justify-content: center;
  padding-top:130px;
  color:#fff;
}
.course_img .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.course_img:hover .mask {
	opacity:		1;
}


/*game*/
.background_game{
  position:absolute;
  margin-top:150px;
  width:1200px;
  height:600px;
  background-image: url(./images/solotuo.jpeg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index:0;
}

.background_game2{
  position:absolute;
  margin-top:150px;
  width:1200px;
  height:600px;
  background-image: url(./images/chichio.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index:0;
}

.background_game3{
  position:absolute;
  margin-top:150px;
  width:1200px;
  height:600px;
  background-image: url(./images/moska.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index:0;
}


/*消す・写すコマンド*/
.behind{
  opacity:0;
  z-index:1;
}
.appear{
  opacity:10;
  z-index: 10;
}

/*input icon*/
.icon_k{
  position:absolute;
  left:20%;
  z-index: 3;}
.icon_e{
  position:absolute;
  left:20%;
  z-index: 3;}
.icon_p{
  position:absolute;
  left:21%;
  z-index: 3;}

.background_game p{
   position:absolute;
   padding-top:30px;
   padding-left:30px;
   line-height:1em;
   font-size:200px;
   color:white;
   z-index:1;
   opacity:0.3;
}
.background_game2 p{
  position:absolute;
  padding-top:30px;
  padding-left:30px;
  line-height:1em;
  font-size:200px;
  color:white;
  z-index:1;
  opacity:0.3;
}
.background_game3 p{
  position:absolute;
  padding-top:30px;
  padding-left:30px;
  line-height:1em;
  font-size:200px;
  color:white;
  z-index:1;
  opacity:0.3;
}

.result_video{
  position: absolute;
  width:1200x; 
  z-index: 2;
  opacity:1;
}
.result_video video{
  width:1200px;
  height:600px;
  min-height: 100%;
}

.icon_text h{font-size: 500px;}
.icon_text h2{font-size: 300px;}
.icon_textresult{
    height:300px;
    top: 50%;
    left:10%;
    position:absolute;
    z-index: 5;}


/*form*/
.form{
    width:1200px;
    margin-top:120px;}

.form_button{
  width:1200px;
  padding-top:30px;
  padding-bottom:30px;
  display:block;
  margin-top:800px;
  background-color: white;
  display:flex;
  justify-content: space-around;
}

.form_button input{
    width:100px;
    padding:30px;   
}

.form_button input:hover {
  opacity:0.8;
}

/*result*/
.result_text{
  padding-top: 100px;
  display: block;
  margin:0 auto;
  width:700px;
  height:240px;
  color:white;
  text-align: left;
}
.result_text span{
  font-style: italic;
  font-size:30px ;
  line-height: 2em;
}

.result_img {
  width:1200px;
  height:300px;
	overflow:		hidden;
  position:		relative;
  background-image: url(./images/result_img.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.result_img .mask {
	width:			100%;
	height:			100%;
  position:		absolute;
  top:			0;
	left:			0;
	opacity:		0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.result_img:hover .mask {
	opacity:		1;
}


.result_containts{
  height:900px;
}
.result_character{
  position:absolute;
  width:1200px;
  height:700px;
  display:block;
  margin-top:100px;
  background-color:;
  z-index:1;
}
.result_text h{font-size:100px;}
.r_t{
    position:absolute;
    height:300px;
    top: 10%;
    left:0%;
    position:absolute;
    line-height:5em;
    opacity:0.8;
    z-index: 5;}

.type_image{
 position: absolute;
 width:1200x;
 top: 0%;
 left:0%;
 z-index: 2;
 opacity:1;
 }


.result_containts2{
  height:400px;
}
.result_character{
  position:absolute;
  width:1200px;
  height:300px;
  display:block;
  margin-top:100px;
  background-color:;
  z-index:1;
}
 .kaisetsu{
  position:absolute;
  display: block;
  width:1200px;
  height:240px;
  color:white;
  line-height:2em;
}
.type_k_text{
  position: absolute;
  top: 0%;
  left:20%;}

.game_clear{
    width:1200px;
    margin-top:200px;
  }

.game_clear p{
  text-align: center;
  padding:30px; 
  color:#fff;
  font-size: 16px;  
}
.game_clear input{
  width:100px;
  padding:30px; 
  margin-left:46%;
}
.clear_btn_box{}

.footer{
  margin-top:200px;
  padding:30px 0px;
  color:white;
  text-align: center;
  font-size: 16px;
  background-color: #707070;
}